@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';


body {
    background-color: #fff;
}
.content {
    max-width: 500px;
    margin: auto;
}

.navbar {
    background-color: #fff;
    padding: 30px;

}

#work {
    padding: 20px 50px;
}

#about {
    padding: 0px 50px;
}

#resume {
    padding: 0px 50px;
}

.row {
    padding-bottom: 30px;  
}

.card {
    width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

}

.card-body {
    padding: 20px;
}


hr {
    border: 0;
    height: 1px;
    max-width: 70%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}