@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';


html {
    overflow-x: hidden;
    font-size: 16px;
}

p {
    color: #666666;
    font-weight: 300;
    line-height: 1.8;
    margin: 10px 0 23px;
    font-family: 'Open-Sans', sans-serif;
}

a {
    color: #4A708B;
    font-weight: 300;
    line-height: 1.8;
    margin: 10px 0 23px;
    font-size: 24px;
    font-family: 'Open-Sans', sans-serif;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

a:hover {
    color: #666666;
    text-decoration: none;
}


h1 {
    color: #333333;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 0;
    font-family: 'Playfair Display', serif;

}

sup {
    font-size: 10px;
}

hr {
    max-width: 300px;
}

li {
    margin: 0 10px;
}

